# Stripe Configuration
# Get these keys from https://dashboard.stripe.com/apikeys

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51T86B9Rzfgw6j5tA0Uw13Y0OAWr3XG8B2Hwm2Af51YL28Z6B0FGTQRUL3EMsX4nc3x2EZ4UIC8HXha5yaqQxhWE200saSeJ6tP
STRIPE_SECRET_KEY=sk_test_51T86B9Rzfgw6j5tAWbt30p2XtWFke67kUFD9LVnHsYAjvMgoeHBI9Mh7JiDNpMLrNDibhbnLkIiHHK8yKfiBkyrU00Mi8sANgh
